.remove-all-rows-button {
  margin-left: 20px;
}

.rows-table {
  width: 400px;
  margin-top: 20px;
}

.inner-div {
  width: fit-content;
  display: block;
  margin: 20px auto 0;
}

.id-col {
  font-weight: bold;
}

.color-row {
  background-color: lightblue;
}
